<!-- Site footer -->
<div class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 info-negozio" style="width: fit-content;">
        <h6>Informazioni sul negozio</h6>
        <p class="text-justify">
          M&G Fitness SRLS unipersonale, Sede Legale: Via Domitiana 220, 81030 - Castel Volturno (Caserta)</p>
        <p>Contattaci subito: <a href="tel:+393485133485">+30 348 5133 485</a></p>
        <p>Email: <a href="mailto:kendyitalia@libero.it">kendyitalia@libero.it</a></p>
      </div>

      <div class="col-xs-6 col-md-3 pages">
        <h6><a routerLink="/contacts">AZIENDA</a></h6>
        <h6><a routerLink="/contacts">CHI SIAMO</a></h6>
        <h6><a routerLink="/contacts">CONTATTACI</a></h6>
        <h6><a routerLink="/contacts">LAVORA CON NOI</a></h6>
      </div>

      <div class="col-xs-6 col-md-3 account">
        <h6>IL MIO ACCOUNT</h6>
        <ul class="footer-links">
          <li><a routerLink="/profile">Il mio profilo</a></li>
          <li><a routerLink="/profile">Informazioni personali</a></li>
          <!-- <li><a routerLink="">Buoni e sconti</a></li> -->
          <!-- <li><a routerLink="">I miei ordini e spedizioni</a></li> -->
          <li><a routerLink="/register" (click)="LogOut()">Log out</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">&copy; Copyright 2023 - Created by <a href="http://blvckwolf.cf/">Blvckwolf</a> & <a href="https://racca.me/">Seba</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="https://www.facebook.com/kendyItalia/"><img src="../../../assets/icons/facebook-icon.svg" alt=""></a></li>
          <!-- <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li> -->
          <li><a class="instagram" href="https://www.instagram.com/KENDYDRINK_ITALIA/"><img src="../../../assets/icons/instagram-icon.svg" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
