<div class="wrapper">


  <h1 class="title">CONTATTI</h1>




  <div class="vendor-info">
    <p class="p1">M&G Fitness SRLS unipersonale <br>
      Sede Legale: Via Domitiana 220, 81030 - Castel Volturno (Caserta) <br><br>
      I nostri contatti: <br>
      Telefono: <a href="teL:+393485133485">+39 348 513 3485</a> <br>
      Email: <a href="mailto:kendyitalia@libero.it">kendyitalia@libero.it</a>
    </p>

    <div class="more-info">
      <h4 class="more-info-title">Altre informazioni</h4>

      <p class="p2">
        <span>Nome completo:</span>     M&G Fitness Società a Responsabilità Limitata Semplificata <br>
        <span>Codice ATECO:</span>     47.29.9: Commercio al dettaglio di altri prodotti alimentari in esercizi specializzati n.c.a. <br>
        <span>P.IVA:</span>     04004720613 <br>
        <span>Data di costituzione:</span>     14 Ottobre 2014 <br>
        <span>Regione:</span>     Campania <br>
        <span>Provincia:</span>     Caserta <br>
        <span>Città:</span>     Castel Volturno <br>
        <span>Indirizzo:</span>     Via Dominitiana KM.31,400, 220
      </p>
    </div>

  </div>


</div>

<footer></footer>
