.wrapper{height: 70%; width: 100%; margin-top: 70px; margin-bottom: 150px;}


.wrapper .title{margin-top: 150px; font-size: 50px; font-weight: bold; text-align: center; color: var(--blu);}

.vendor-info p > span{color: var(--blu);}
.more-info{margin: 80px 50px;}
.more-info-title{text-transform: uppercase; font-weight: bold;}
.p1{margin: 100px 50px 20px 50px;}
