<div class="testimonial-section">


  <h1>Cosa dicono di noi</h1>
  <span></span>


  <div class="testimonials">

    <div class="testimonial">
      <img src="../../../assets/icons/quote.svg" class="quote-pic" alt="">
      <img src="https://source.unsplash.com/featured/300x300" class="person-pic" alt="">
      <h2>Isabella Verthre</h2>
      <p>"Ho trovato questo servizio di abbonamenti molto facile da usare e conveniente. Ho avuto accesso a una vasta gamma di prodotti e servizi, risparmiando un sacco di denaro. Consiglio vivamente a chiunque cerchi un'esperienza di abbonamento semplice e conveniente.</p>
    </div>

    <div class="testimonial">
      <img src="../../../assets/icons/quote.svg" class="quote-pic" alt="">
      <img src="https://source.unsplash.com/featured/400x400" class="person-pic" alt="">
      <h2>Leone Langelier</h2>
      <p>Ho provato il servizio di abbonamenti e sono rimasto soddisfatto. Ho risparmiato denaro e il team di assistenza clienti è stato sempre disponibile per ogni mia richiesta. Consiglio vivamente questo servizio a chi cerca un'esperienza di abbonamento senza problemi e conveniente.</p>
    </div>

    <div class="testimonial">
      <img src="../../../assets/icons/quote.svg" class="quote-pic" alt="">
      <img src="https://source.unsplash.com/featured/500x500" class="person-pic" alt="">
      <h2>Ellan Gaus</h2>
      <p>Non ho trovato molti prodotti di mio interesse e ho avuto difficoltà a annullare l'abbonamento. Non lo consiglio a meno che non si sia sicuri di trovare prodotti di proprio interesse.</p>
    </div>

  </div>


</div>
