@media only screen and (max-width: 767px) {



  .carousel-container{max-height: 500px; top: 300px}

  .mostra-catalogo a{padding-inline: 20px;}

  .testimonial-section a{width: 80vw;}

  .box{min-width: 45%;}
  .box p{max-width: 90%;}

  .newsletter{display: flex; flex-direction: column; align-items: center; margin-top: 20px;}

  .newsletter-field{width: 100%; margin-top: 20px;}
  .newsletter input{width: 170px;}
  .newsletter-mail-icon{width: 50px; margin-right: 20px;}



  .social{display: flex; flex-direction: column; align-items: center; margin-top: 20px;}


}



@media only screen and (min-width: 768px) and (max-width: 1500px) {

  .carousel-container{max-width: 1000px; max-height: 400px; top: 250px}

}


@media only screen and (max-width: 1200px){

  .box{min-width: 85%;}
}