<div class="wrapper">


  <div class="categories">

    <button class="card resize" (click)="changeTitle('tutti i prodotti')">
      <img src="../../../assets/products/products-logo-catalog/mix-tutto.png" alt="">
    </button>

    <button class="card resize" (click)="changeTitle('granite e dessert')">
      <img src="../../../assets/products/products-logo-catalog/granite-e-dessert.png" alt="">
    </button>

    <button class="card" (click)="changeTitle('linea frutti')">
      <img src="../../../assets/products/products-logo-catalog/logo-frutti.png" alt="">
    </button>

    <button class="card" (click)="changeTitle('linea step')">
      <img src="../../../assets/products/products-logo-catalog/logo-step.png" alt="">
    </button>

  </div>



  <img src="../../../assets/icons/arrow-down.svg" class="arrow">



  <h1 class="title">{{this.titleShowingProducts}}</h1>

  <div class="products1">
    <div class="product" *ngFor="let p of product | angularPaginator : { itemsPerPage: this.itemsPerPage, currentPage: currentPage }; let i = index">
      <product [product]="p"></product>
    </div>
  </div>


  <nav
    angularPaginator
    [forceEllipses]="true"
    [rotate]="true"
    [maxSize]="5"
    aria-label="Pagination Component"
    #paginator="angularPaginator"
    (pageChange)="currentPage = $event"
    class="paginator">

    <ng-container *ngIf="paginator.pages['length'] !== 0">
      <ul class="pagination pagination-sm">
        <!-- direction link -->
        <li class="page-item" [ngClass]="{disabled: paginator.currentPage === paginator.firstPage}">
          <a class="page-link" (click)="paginator.toPreviousPage()">
            <span aria-hidden="true"><mat-icon>keyboard_arrow_left</mat-icon></span>
          </a>
        </li>

        <!-- pagination array -->
        <li class="page-item" *ngFor="let page of paginator.pages">
          <a class="page-link" (click)=" !page['active'] && paginator.setCurrentPage(page['number'])" [ngClass]="{ active: page['active'] }">
            {{ page["text"] }}
            <!-- <span class="visually-hidden" *ngIf="page['active']">{{ page["text"] }}</span> -->
          </a>
        </li>

        <!-- direction link -->
        <li class="page-item" [ngClass]="{disabled: paginator.currentPage === paginator.lastPage}">
          <a class="page-link" (click)="paginator.toNextPage()">
            <span aria-hidden="true"><mat-icon>keyboard_arrow_right</mat-icon></span>
          </a>
        </li>
      </ul>
    </ng-container>

  </nav>


</div>

<footer></footer>
