<div class="wrapper">





  <div class="progress-bar">
    <div class="step first-step">
      <a routerLink="/checkout/billing-details" class="circle"></a>
      <h5>Dettagli fatturazione</h5>
    </div>
    <div class="step second-step grey">
      <button routerLink="/checkout/shipping-info" class="circle"></button>
      <h5>Spedizione</h5>
    </div>
    <div class="step third-step grey" ngClass="{'blue': this.thirdStep, 'grey': !this.thirdStep}">
      <button routerLink="/checkout/shipping-info" class="circle"></button>
      <h5>Pagamento</h5>
    </div>
  </div>




  <div class="titles-container">
    <div class="titles">
      <h3>Informazioni di pagamento</h3>
      <h5>Inserisci le tue informazioni per confermare il pagamento</h5>
    </div>
  </div>





  <div class="page-container">



    <div class="sx-column">
      <div class="card checkout-rapido">
        <div class="card-title">
          <h4>Check-out rapido</h4>
        </div>

        <div class="img-container">
          <button class="btn1"> <img src="../../../../assets/icons/payments-icon/shop-pay.svg" alt=""> </button>
          <button class="btn2"> <img src="../../../../assets/icons/payments-icon/apple-pay.svg" alt=""> </button>
          <button class="btn3"> <img src="../../../../assets/icons/payments-icon/paypal.svg" alt=""> </button>
          <button class="btn4"> <img src="../../../../assets/icons/payments-icon/google-pay.svg" alt=""> </button>
        </div>
      </div>

      <div class="card payment-method">
        <h4>Payment Method</h4>
      </div>

      <div class="card reicept-method">
        <h4>Receipt Method</h4>

        <div class="voce">
          <div class="text">
            <h5> <img src="../../../../assets/icons/box.svg"> Courier Delivery</h5>
            <h5 class="p">Indirizzo di spedizione 00, città, nazione</h5>
          </div>
          <img src="../../../../assets/icons/arrow-left.svg" class="arrow">
        </div>

        <hr>

        <div class="voce">
          <div class="text">
            <h5> <img src="../../../../assets/icons/user-outline.svg"> Nome Cognome</h5>
            <h5 class="p">email@email.it</h5>
          </div>
          <img src="../../../../assets/icons/arrow-left.svg" class="arrow">
        </div>

        <hr>

        <div class="voce">
          <div class="text">
            <h5> <img src="../../../../assets/icons/comment.svg"> Comment to the courier</h5>
            <h5 class="p">Don't ring the doorbell</h5>
          </div>
          <img src="../../../../assets/icons/arrow-left.svg" class="arrow">
        </div>
      </div>

      <div class="card coupon-code">
        <h4>Codice Sconto</h4>

        <div class="codice-sconto">
          <input type="text" placeholder="Codice Sconto">
          <button>APPLICA</button>
        </div>
      </div>
    </div>





    <div class="dx-column">

      <div class="total-container">
        <div class="price">
          <h3>Totale</h3>
          <h3>€89.23</h3>
        </div>

        <hr>

        <div class="more-info">
          <div class="items uno">
            <h4>Items</h4>
            <h5>3</h5>
          </div>
          <div class="items due">
            <h4>Discount</h4>
            <h5>- €9.76</h5>
          </div>
          <div class="items tre">
            <h4>shipping Cost</h4>
            <h5>Free</h5>
          </div>
        </div>
      </div>

      <button class="buy-btn">Pay €89.23</button>
      <p class="accept-terms-text">By clicking the button, you agree to the Terms of Service as well as the Terms of
        Sale</p>

    </div>





  </div>





</div>



<!-- <button class="continue-btn" routerLink="/checkout/shipping-info" [disabled]="homeform.invalid" [ngClass]="{'reddino' : !homeform.valid, 'bluee' : homeform.valid}" (click)="onSubmit()">
        <h4>Vai alla spedizione</h4>
      </button> -->








<iframe src="" frameborder="0"></iframe>